body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background: #f4f4f4;
}

header {
    background: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.logo img {
    width: 100px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

/* Botón de cerrar */
.close-btn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: transform 0.6s ease;
}

/* Menú */
nav {
    position: fixed;
    top: 0;
    left: -250px; /* Fuera de la vista inicialmente */
    width: 250px;
    background: #4a4e69;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    height: 100vh;
    transition: left 0.3s ease, transform 0.6s ease;
    z-index: 1000;
}

nav.show {
    left: 0; /* Mostrar el menú */
}

nav.hide {
    left: -250px; /* Ocultar el menú */
    transform: rotateY(360deg); /* Girar mientras se cierra */
}

nav h3 {
    margin-top: 0;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 25px;
    background: #8d99ae;
    display: block;
    transition: background 0.3s, transform 0.3s;
    font-weight: bold;
}

nav ul li a:hover {
    background: #3c00ff;
    transform: translateY(-2px);
}

.content {
    margin-left: 20px;
    padding: 20px;
    flex-grow: 1;
}

h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 2em;
    color: #333;
}

.product {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100px;
    margin-right: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #007bff;
    color: #fff;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li img {
    width: 30px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.social-icon {
    width: 30px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}
